# Default ignored files
/shelf/
/workspace.xml
/.name
/compiler.xml
/deploymentTargetSelector.xml
/caches/deviceStreaming.xml
/gradle.xml
/kotlinc.xml
/migrations.xml
/inspectionProfiles/Project_Default.xml
/runConfigurations.xml
